
img{
    width:200px;
    height:auto;
}

.row1{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.row2{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
